.services-side-nav {
  width: 15vw;
  height: 100vh;
  background-color: #ffffff;

  @media (max-width: 576px) {
      width: 90%;
      height: 28vh;
  }

  ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;  // Allow the items to wrap

      @media (max-width: 576px) {
          height: auto;
          align-items: center;
          justify-content: center;
      }
  }

  li {
      padding: 15px 20px;
      border-bottom: 1px solid #444;
      position: relative;

      @media (max-width: 576px) {
        display: flex;
        padding: 30px 5px;
        flex: 1 0 calc(50% - 10px);  // Take half of the width minus the padding
      }

      a {
          color: black;
          text-decoration: none;
      }

      &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #007bff;
          transition: width 0.3s;
      }

      &:hover::after {
          width: 100%;
      }
  }
}
