.pharma {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    flex-direction: column;
    padding-bottom: 100px;
    h1{
        margin: 95px;
        color: #212529;
        font-size: 7em;
    }
    h2 {
        font-size: 4em;
        font-weight: normal;
        padding-bottom: 15px;
        color: #212529;
    }
    h3 {
        font-size: 28px;
        font-weight: normal;
        padding-bottom: 15px;
        padding-top: 15px;
        color: #212529;
    }
    ul {
        font-size: 20px;
        color: #212529;
    }
    p {
        font-size: 23px;
        color: #212529;
    }

    .pharma_1 {
        display: flex;
        flex-direction: column;
        width: 65vw;
        align-items: center;
    }
    .pharma_2 {
        display: flex;
        flex-direction: row;
        width: 65vw;
        align-items: center;
        img {
            width: 50%;
            height: auto;
            padding-right: 25px;
        }
    }
    .pharma_3 {
        display: flex;
        flex-direction: row;
        width: 65vw;
        align-items: center;
        img {
            width: 50%;
            height: auto;
            padding-right: 25px;
        }
    }
}

