

.app__navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.479);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
  height: 15vh;
  margin: 0;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  img {
    width: 90px;
    height: 20px;

    @media screen and (max-width: 2000px) {
      width: 200px;
      height: 70px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  height: 120px;

  li {
    display: flex;
    justify-content: center;
    margin: 0 3.5rem;
    cursor: pointer;
    flex-direction: column;
    height: 100%;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 100%;
      background: transparent;
      border-radius: 50%;
      margin-bottom: 5px;

      a {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        flex-direction: column;
        color: #383737;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        height: 40px;

        &:hover {
          color: #d34306;
        }
      }

      &:hover {
        div {
          background: var(--secondary-color);
        }
      }
    }

    &:hover .submenu {
      display: block;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .submenu {
    display: none;
    position: fixed;
    top: calc(100% - 1px);
    left: 0; // This ensures it starts from the far left of its positioned ancestor
    width: 100vw; // This makes sure the submenu spans the entire viewport width
    background-color: white;
    border: 1px solid #ddd;
    z-index: 3;
    list-style-type: none;
    margin-top: 0; 
    padding-top: 0;

    li {
      position: relative;
      
      .sub-submenu {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 1.5s ease, opacity 1.5s ease;
        
        // Here, the position is NOT absolute, so it will push sibling elements.
        // Also, do not use top and left property for positioning here.
        
        width: 100%; // Adjust as per your design preference
        background-color: white; // Or your preferred color
        
        // Additional styles for sub-submenu...
      }
      
      &:hover .sub-submenu {
        max-height: 500px; // Adjust as needed to fit your sub-submenu content
        opacity: 1;
      }
    }
  }

  
  
  li:hover .submenu {
    transition-delay: 2s; /* No delay when hovering */
  }

}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  margin-right: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          margin: 2%;
          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}