.review-slider {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
  @media (max-width: 768px) { // Mobile devices
    height: 40vh
  }
}

.review-card-container {
  display: flex;
  animation: slide 15s linear infinite;
  width: 20vw;
  height: 75%;
  @media (max-width: 768px) { // Mobile devices
    height: auto;
  }
}

.review-card {
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 768px) { // Mobile devices
    width: 30vw;
  }
}

.image-container {
  display: flex;
  width: 100px;
  height: 175px;
  justify-content: center;
  img {
    max-height: 100%;
    width: auto;
    @media (max-width: 768px) { // Mobile devices
      max-height: 15vh;
      width: auto;
    }
  }
}

.quote {
  margin: 15px 0;
  font-size: 16px;
  text-align: center;
}

.stars {
  color: gold;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
