
.information_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d1d1d1;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    @media (max-width: 576px) {
        flex-direction: column;
    }
    .row_1{
        .logo {
            max-height: 125px;
            width: 200px;
            margin-bottom: 0.2rem;
            @media (max-width: 576px) {
                max-height: 50px;
                width: 100px;
            }
        }
        p {
            @media (max-width: 576px) {
                width: 95vw;
            }
        }
        width: 20%;
        .app__social {
            margin-top: 35px;
            width: 175px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media (max-width: 576px) {
                margin-top: 15px;
            }
        }
        .icon {
            width: 30px;
            height: 30px;
            color: #04049c;
        }
        margin: 0 10px;
    }

    .phone_row{
        display: flex;
        
        .row_2{
            display: flex;
            flex-direction: column;
            .menu_item {
                margin: 10px 0; /* Adjust the vertical margin as needed */
                @media (max-width: 576px) {
                    margin: 5px 0;
                }
            }
            margin: 0 10px;
            a {
                color: black;
                text-decoration: none;
                margin: 10px 0;
            }
        }

        .row_3{
            display: flex;
            flex-direction: column;
        
            .menu_item {
                margin: 10px 0; /* Adjust the vertical margin as needed */
                color: black;
                text-decoration: none;
                @media (max-width: 576px) {
                    margin: 5px 0;
                }
            }
            margin: 0 10px;
        }
        @media (max-width: 576px) {
            flex-direction: row; 
        }
    }

    .row_4{
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        a {
            color: black;
            text-decoration: none;
        }
        
        .menu_item {
            margin: 10px 0;
            color: black;
            text-decoration: none;

            .menu_item-bold {
                font-weight: bold;
            }
        }
    }

    
}

