.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        width: auto;
        height: 875px;
        object-fit: contain;
    }
    @media screen and (max-width: 1200px) {
        img {
            height: 400px;
        }
    }
}